body {
    background-size: cover;
    background-position: bottom center;
}
// HOME
.home {
    background-image: url(../starter-code/assets/home/background-home-mobile.jpg);
}

@media (min-width: 35rem) {
    .home {
        background-position: center center; // making text more readable
        background-image: url(../starter-code/assets/home/background-home-tablet.jpg);
    }
}

@media (min-width: 45rem) {
    .home {
        background-image: url(../starter-code/assets/home/background-home-desktop.jpg);
    }
}