// HOME
.crew {
    background-image: url(../starter-code/assets/crew/background-crew-mobile.jpg);

    @media (min-width: 35rem) {
        background-position: center center; // making text more readable
        background-image: url(../starter-code/assets/crew/background-crew-tablet.jpg);
    }

    @media (min-width: 45rem) {
        background-image: url(../starter-code/assets/crew/background-crew-desktop.jpg);
    }
}

.grid-container--crew {
    gap: 2rem;
    grid-template-areas:
        'title'
        'image'
        'dots'
        'content'
    ;

    .numbered-title {
        grid-area: title;
    }

    > picture {
        grid-area: image;
        max-width: 60%;
        border-bottom: 1px solid hsl(0deg 0% 100% / 10%);
    }

    > .dot-indicators {
        grid-area: dots;
    }

    > .crew-details {
        grid-area: content;
        h2 {
            opacity: .5;
        }
        * {
            margin: 1rem 0;
        }
    }
}

.crew-meta {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2.5rem;
    margin-top: 2.5rem;

    p {
        font-size: 1.75rem;
    }
}

@media (min-width: 35rem) {
    .grid-container--crew {
        padding-bottom: 0;
        gap: 2rem;
        grid-template-areas:
            'title'
            'content'
            'dots'
            'image'
        ;
        > img {
            border: none;
        }
    }
    .numbered-title {
        justify-self: start;
        margin-top: 2rem;
    }

    .crew-meta {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

@media (min-width: 45rem) {
    .grid-container--crew {
        justify-items: start;
        align-content: center;
        grid-template-areas:
            '. title title .'
            '. content image .'
            '. dots image .'
        ;

        .dot-indicators {
            justify-content: start;
        }

        > picture {
            max-width: 90%;
            align-self: end;
        }

        .crew-details {
            p {
                max-width: 28rem;
            }

            .crew-meta {
                gap: min(6vw, 6rem);
                justify-content: flex-start;
            }
        }
    }
}
