@import '../variables/typography';

.grid-container--destination {
    gap: 2rem;
    grid-template-areas: 
        'title'
        'image'
        'tabs'
        'content'
    ;

    .numbered-title {
        grid-area: title;
    }
    > img {
        grid-area: image;
        max-width: 60%;
    }
    > .tab-list {
        grid-area: tabs;
    }
    >.destination-info {
        grid-area: content;
    }
}
.destination-meta {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid hsl(0deg 0% 100% / 10%);
    padding-top: 2.5rem;
    margin-top: 2.5rem;

    p {
        font-size: 1.75rem;
    }
}

@media (min-width: 35rem){
    .numbered-title {
        justify-self: start;
        margin-top: 2rem;
    }

    .destination-meta {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

@media (min-width: 45rem) {
    .grid-container--destination {
        justify-items: start;
        align-content: start;
        grid-template-areas:
            '. title title .'
            '. image tabs .'
            '. image content .'
        ;

        > img {
            max-width: 90%;
        }

        .destination-info {
            h2 {
                font-size: 6rem !important;
            }
            .destination-meta {
                gap: 6rem;
                justify-content: flex-start;
            }
        }
    }
}
