.technology {
  background-image: url(index.html/assets/technology/background-technology-mobile.jpg);

  @media (min-width: 35rem) {
    background-position: center center; // making text more readable
    background-image: url(index.html/assets/technology/background-technology-tablet.jpg);
  }

  @media (min-width: 45rem) {
    background-image: url(index.html/assets/technology/background-technology-desktop.jpg);
  }
}

.grid-container--technology {
    gap: 2rem;
    grid-template-areas:
        'title'
        'image'
        'dots'
        'content'
    ;

    .numbered-title {
        grid-area: title;
        width: 100%;
        font-size: 1rem;
    }

    > picture {
        grid-area: image;
        max-width: 100%;
        border-bottom: 1px solid hsl(0deg 0% 100% / 10%);
    }

    > .number-indicators {
        grid-area: dots;
        flex-direction: row;
    }

    > .technology-details {
        grid-area: content;
        * {
            margin: 1rem 0;
        }
        .technology-meta {
            flex-direction: column;
            justify-content: center;
            align-items: center;

            p {
                font-size: 1.75rem;
            }
        }
    }
}

@media (max-width: 44.99rem) {
    .grid-container--technology {
        > picture {
            .mobile-image {
                display: block;
            }
            .desktop-image {
                display: none;
            }
        }
    }
}

@media (min-width: 35rem) {
    .grid-container--technology {
        padding-bottom: 0;
        gap: 2rem;
        grid-template-areas:
            'title'
            'image'
            'dots'
            'content'
        ;
        > picture {
            border: none;
        }
    }
    .numbered-title {
        justify-self: start;
        margin-top: 2rem;
    }

    .technology-meta {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

@media (min-width: 45rem) {
    .grid-container--technology {
        grid-template-columns: minmax(2rem, 1fr) minmax(5rem, 1fr) minmax(0, 40rem) minmax(0, 50rem);
        justify-items: center;
        align-content: space-around;
        grid-template-areas:
            '. title title .'
            '. dots content image'
        ;

        .number-indicators {
            grid-column: 2 !important;
            flex-direction: column;
        }

        > picture {
            grid-column: 4 !important;
            max-width: 100%;

            .mobile-image {
                display: none;
            }
            .desktop-image {
                display: block;
            }
        }

        .technology-details {
            grid-column: 3 !important;
            align-self: center;
            p {
                max-width: 30rem;
            }

            .technology-meta {
                gap: min(6vw, 6rem);
                justify-content: flex-start;
                > p {
                    font-size: 3.5rem !important;
                }
            }
        }
    }
}

