// CSS RESET
@import '../variables/typography';
@import '../variables/colors';

// Box sizing
* {
    box-sizing: border-box;
    &::before,
    &::after {
        box-sizing: border-box;
    }
}

// Reset margins
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

// Set up the body 
body {
    font-family: $ff-sans-normal;
    font-size: $fs-400;
    color: $clr-white;
    background-color: $clr-dark;
    line-height: 1.5;
    min-height: 100vh;
}

// Images
img,
picture {
    max-width: 100%;
    display: block;
}

// Forms
input,
button,
textarea,
select {
    font: inherit;
}

// Remove animations
@media (prefers-reduced-motion: reduce) {
    *,
    *::after,
    *::before {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}